<form action="/search" method="GET">

    Search:
    <input type="text" name="serach-term" id="my-input" size="50" placeholder="Please enter a search term">

    <div>
        <button type="submit">Search</button>
    </div>
</form>